mixin ChatLink(img, name, message, date, unread)
    .chat
        img.chat-img(src=img)
        .chat-block
            .chat-block-left
                span.chat-name=name
                span.chat-message!=message
            .chat-block-right
                span.chat-date=date
                if unread 
                    span.chat-unread=unread